*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
#root {
  min-height: 100vh;
}

.chat-title {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
}

html,
body {
  outline: 2px solid red;
}
#root {
  outline: 2px solid blue;
}
